openapi: 3.1.0
info:
  title: Masterdoc API Gateway
  version: 0.1.0
  description: |
    Single public API base for clients: `https://api.masterdoc.pro`.
    REST-клиент знает только этот host (см. docs/AUTH.md).

    - `GET /auth/url` — куда открыть браузер для логина (страница Zitadel)
    - `POST /auth/token` — обмен code / refresh на токены (BFF → Zitadel)
    - `GET /me` — userInfo + features (нужен Bearer JWT)
    - `/v1/*` — proxy в backend

servers:
  - url: https://api.masterdoc.pro
    description: Production (only API URL clients should use)
  - url: http://127.0.0.1:8083
    description: Local gateway

paths:
  /health:
    get:
      operationId: health
      summary: Gateway liveness
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /auth/url:
    get:
      operationId: getAuthUrl
      summary: OIDC authorize URL for client login (public)
      security: []
      responses:
        "200":
          description: Where the client should start Authorization Code + PKCE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthUrlResponse"

  /auth/token:
    post:
      operationId: postAuthToken
      summary: Exchange authorization code or refresh_token for tokens (BFF → Zitadel)
      description: |
        Проксирует тело как есть на Zitadel `POST /oauth/v2/token`.
        Клиент **не** ходит на auth.formaverse.ru за токенами — только сюда.

        `grant_type=authorization_code` — после callback с `code`.
        `grant_type=refresh_token` — обновить access_token.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token]
                client_id:
                  type: string
                code:
                  type: string
                  description: Required when grant_type=authorization_code
                redirect_uri:
                  type: string
                  description: Same redirect_uri as in authorize (authorization_code)
                code_verifier:
                  type: string
                  description: PKCE verifier (authorization_code)
                refresh_token:
                  type: string
                  description: Required when grant_type=refresh_token
            examples:
              authorizationCode:
                summary: Exchange code
                value:
                  grant_type: authorization_code
                  code: "...."
                  redirect_uri: masterdoc://auth/callback
                  client_id: native-app-id
                  code_verifier: "...."
              refresh:
                summary: Refresh access token
                value:
                  grant_type: refresh_token
                  refresh_token: "...."
                  client_id: native-app-id
      responses:
        "200":
          description: Token response from Zitadel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Upstream OAuth error (invalid_grant, …) — body as from Zitadel
        "502":
          description: Zitadel unavailable

  /me:
    get:
      operationId: getMe
      summary: Current user + enabled features for client DI
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User and features
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: Missing or invalid JWT
        "502":
          description: feature-service unavailable

  /v1/{path}:
    parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
        description: Path under backend (assistants, chat/sessions, report, …)
    get:
      operationId: proxyV1Get
      summary: Proxy GET to backend
      security: []
      responses:
        "200":
          description: Upstream response
        "502":
          description: backend unavailable
    post:
      operationId: proxyV1Post
      summary: Proxy POST to backend (incl. streaming where applicable)
      security: []
      responses:
        "200":
          description: Upstream response
        "502":
          description: backend unavailable
    delete:
      operationId: proxyV1Delete
      summary: Proxy DELETE to backend
      security: []
      responses:
        "200":
          description: Upstream response
        "502":
          description: backend unavailable

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Zitadel access_token (Authorization Code + PKCE)

  schemas:
    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          example: ok

    AuthUrlResponse:
      type: object
      required: [authUrl]
      properties:
        authUrl:
          type: string
          format: uri
          example: https://auth.formaverse.ru/oauth/v2/authorize

    TokenResponse:
      type: object
      required: [access_token, token_type]
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        id_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 43200

    UserInfo:
      type: object
      required: [id, roles]
      properties:
        id:
          type: string
        givenName:
          type: string
        familyName:
          type: string
        email:
          type: string
        roles:
          type: array
          items:
            type: string

    MeResponse:
      type: object
      required: [userInfo, features]
      properties:
        userInfo:
          $ref: "#/components/schemas/UserInfo"
        features:
          type: array
          items:
            type: string
          example: [board]
